@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-safe {
    height: 100vh;
    height: -webkit-fill-available;
    height: 100dvh;
    height: calc(var(--vh, 1vh) * 100);
  }
}
